@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-bg: #0f172a;
  --color-surface: #111827;
  --color-surface-light: #1f2937;
}

html,
body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Segoe UI", sans-serif;
  background: var(--color-bg);
}